00_Data/Clean/train.csv filter=lfs diff=lfs merge=lfs -text
00_Data/Raw/creditcard.csv filter=lfs diff=lfs merge=lfs -text
00_Data/Raw/train.csv filter=lfs diff=lfs merge=lfs -text
00_Data/Clean/test.csv filter=lfs diff=lfs merge=lfs -text
00_Data/Raw/test.csv filter=lfs diff=lfs merge=lfs -text
00_Data/Raw/archive.zip filter=lfs diff=lfs merge=lfs -text
03_Models filter=lfs diff=lfs merge=lfs -text
